#Datos de entorno
# ENVIRONMENT = "" Enviado desde el script start como development o production
# PORT = "" Enviado desde el script start como 8080 para development o 5000 para production

#Datos de entorno
PORT = ""
DEV_MODE = ""

# Datos de la base de datos
DB_USER = ""
DB_PASSWORD = ""
DB_NAME = ""
DB_URL = ""
SESSION_SECRET = ""

#DATOS PARA USUARIO ADMIN
ADMIN_EMAIL = ""
ADMIN_PASSWORD = ""

#GITHUB AUTH
GITHUB_APP_ID = ""
GITHUB_CLIENT_ID = ""
GITHUB_CLIENT_SECRET = ""
GITHUB_CALLBACK_URL = ""

#NODEMAILER
NODEMAILER_SERVICE = ""
NODEMAILER_PORT = ""
NODEMAILER_USER = ""
NODEMAILER_PASSWORD = ""