<div>
  <form id="productForm">
    <h1>Agregar Producto</h1>
    <p>Borrar producto:</p>

    <div>
      <label>Id</label>
      <input type="text" name="pid" />
    </div>

    <input id="deleteBox" type="reset" value="Eliminar producto" />
    <br />
    <br />

    <label>Title: </label>
    <input type="text" name="title" />
    <br />
    <label>Description: </label>
    <input type="text" name="description" />
    <br />
    <label>Price: </label>
    <input type="number" name="price" />
    <br />
    <label>Code: </label>
    <input type="text" name="code" />
    <br />
    <label>Stock: </label>
    <input type="number" name="stock" />
    <br />
    <label>Category: </label>
    <input type="text" name="category" />
    <br />
    <label>Status: </label>
    <input type="text" name="status" value="false" />
    <br />

    <input type="submit" value="Crear producto" />

  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/addProduct.js"></script>