<div>
  <h1>Pago completado</h1>
  <h2>{{code}}</h2>
  <h3>{{message1}}</h3>
  <h3>{{message2}}</h3>
  <br />
  <br />
  <a href="/api/v1/payments/payment/{{tid}}"><button>Reintentar pago</button></a>
  <br />
  <br />
  <a href="/"><button>Ver prefil</button></a>
  <br />
  <br />
  <a href="/api/v1/sessions/logout"><button>Logout</button></a>
</div>