<div>
  <form id="restoreForm">
    <h1>Restablecer contraseña</h1>
    <input type="hidden" name="rid" value="{{rid}}" />
    <p>Confirmar email: <input type="email" name="email" /></p>
    <p>New Password: <input type="password" name="newPassword" /></p>
    <p>Confirmar Password: <input type="password" name="confirmPassword" /></p>
    <input type="submit" value="Enviar" />
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/restore.js"></script>